include requirements.txt
include nisaba/config_files/collections/*.yaml
include nisaba/config_files/items/*.yaml
include nisaba/config_files/prefixes/*.txt
include nisaba/config_files/segments/*.yaml
include nisaba/config_files/users/*.yaml
include nisaba/databases/*.json
include nisaba/databases/*.ttl
include nisaba/databases/backups/placeholder
include nisaba/raw_data/images/*.jpg
include nisaba/raw_data/images/*.png
include nisaba/assets/*.gif
include nisaba/assets/*.ico
include nisaba/assets/*.png
